

.nav-active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #3b82f6;
}

.nav-active {
    color: #3b82f6; /* Tailwind blue-500 */
    font-weight: bold;
    border-bottom: 2px solid #3b82f6;
}
